* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: black;
}

body {
    background-image: url(bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 500px;
    padding: 30px;
    margin-top: 30px;
    border: 2px solid rgba(175, 174, 174, 0.5);
    box-shadow: 2px 2px 3px rgb(80, 80, 80);
}

.login-form h2 {
    text-align: center;
    margin-bottom: 35px;
    color: #333232;
}

.input-box {
    position: relative;
    margin-bottom: 25px;
}

.input-box input {
    width: 100%;
    padding: 12px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #aaa;
    outline: none;
    font-size: 16px;
    transition: 0.3s;
}

.input-box input:focus {
    border-color: #333232;
}

.input-box label {
    position: absolute;
    left: 0;
    bottom: 10px;
    pointer-events: none;
    transition: 0.3s;

}

.input-box input:focus+label,
.input-box input:not(:placeholder-shown)+label {
    bottom: 35px;
    font-size: 16px;
}


.btn {
    width: 100%;
    padding: 12px;
    background: #87d1fc;
    border: none;
    border-radius: 8px;
    color: #333232;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: transform, 0.5s, ease;
}

.btn:hover {
    background: aquamarine;
    color: black;
}

.register-link {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.register-link a {
    color: #093de9;
    text-decoration: none;
    font-weight: bold;
}

.register-link a:hover {
    text-decoration: underline;
}


/* Sign-up form */

.signup-box {
    width: 600px;
}

.gender-box {
    margin-bottom: 25px;
}

.gender-box p {
    margin-bottom: 10px;
}

.gender-box label {
    padding-right: 110px;
}
